ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    list-style: none;
    padding: 3rem;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
}