.nav{
padding: 1rem;
}
.nav-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:2rem;
   
}
.nav-button{
    height: 40px;
    width: 170px;
    color:rgb(219, 116, 225);
    background-color:transparent;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    
   
    
}
.nav-button.search-photos{
    box-shadow: 1px 0px 4px 2px   rgb(193, 182, 204);
}
.nav-button.my-photos{
box-shadow: 1px 0px 4px 2px rgb(193, 182, 204);}